---
layout: default
---

<div class="home">
  <div class="category-list">
    {% for category in site.categories %}
      <label class="site-category">{{ category[0] }}({{ category[1].size }})</label>
    {% endfor %}
  </div>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        </h2>
        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  <div class="pagination">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous"><i class="fa fa-backward"></i></a>
      {% else %}
      <span class="previous"><i class="fa fa-backward"></i></span>
      {% endif %}
      <span class="page_number ">{{ paginator.page }} / {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next"><i class="fa fa-forward"></i></a>
      {% else %}
      <span class="next "><i class="fa fa-forward"></i></span>
      {% endif %}
  </div>

  <a href="https://github.com/feiyuw/feiyuw.github.io/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>

</div>
